.image-select {

  background-color: $c-white;
  padding: 11px;
  border: 1px solid $c-grey-300;


  &__modal {
    width: 100%;
    height: 100%;

    border: 1px solid #666;
  }

  &__button {
    display: inline-block;
    border: 1px solid #d6d6d6;
    background-color: #f5f5f5;
    padding: 5px 12px;
  }

  &__image-display {
    display: flex;
  }

  &__image {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;

    padding-right: 11px;

    img {
      width: 100%;
    }
  }

  &__image-details {
    padding-top: 4px;

    &__detail {
      padding-bottom: 4px;
    }
  }



}
